<section id="recording_full">
  <div class="container text-center wow fadeIn">
    <h4>Recordings</h4>
    <hr class="pageLine" />
    <!-- Flash Section -->
    <% if !flash.empty? %>
      <%= render 'shared/flash' %>
    <% end %>
    <%= render partial: 'recordings/show', locals: {full: true} %>
  </div>
</div>
</section>
