<footer class="footer" style="background-color: black">
    <div class="container text-center">
        <div class="row copyright">
            <div class="col-lg-12">
                <p class="nexa-light center">&copy; 2017 RDJ</p>
            </div>
        </div>
    </div>
</footer>