<header id="page-top" class="mobile-full" style="background-color: black">
    <div class="container vert-center">
        <div class="row">
            <div class="col-md-12">
                <h6 class="MajestiBannerBook" id="typedIn1"></h6>
            </div>
            <div>
            <%= image_tag("rdjesseeLogo.png", alt: "Logo", class: "img-responsive float-right", id: "rdjesseeSignature") %>
                
            </div>
            <div class="scroll-down" id="scrollDownBook">
                <a class="btn page-scroll" href="#intro"><i class="fa fa-book fa-2x"></i></a>
        </div>
    </div>
</header>