<header id="page-top" class="mobile-full" style="background-color: black">
    <div class="container vert-center">
        <div class="row">
            <div class="col-md-12">
                <h1 id="typedIn"></h1>
            </div>
            <div class="col-md-12">
                <div>
                    <%= image_tag("rdjesseeLogo.png", alt: "Logo", class: "img-responsive", id: "rdjesseeSignature") %>
                </div>
            </div>
            <div class="col-md-12 center">
                <div class="">
                    <a class="btn page-scroll" id="scrollDownBook" href="#intro"><i class="fa fa-book fa-2x"></i></a>
                </div>
            </div>
        </div>  
    </div>
</header>