<section id="intro">
    <div class="container">
        <h4 class="text-center">Ralph Donald Jessee</h4>
        <hr class="colored" id="pageLine1">
        <br>
        <div class="row text-center">
            <div class="col-md-5 wow fadeIn" data-wow-delay=".4s">
                <%= image_tag("donsmiles.jpg", alt: "Logo", class: "img-responsive", id: "donSmiles") %>
            </div>
            <div class="col-md-7 wow fadeIn" data-wow-delay=".8s">
            <p class="droid-serif">Don was born in 1921 in the mountains of southwestern Virginia. The Great Depression moved his family to Kentucky. After two years at Lincoln Memorial University, he earned his engineering degree at University of Kentucky. He was hired by Westinghouse and after a stint in the army he returned to the aviation division at Lima, Ohio. He enjoyed his work designing control and protective devices and methods for aircraft electric power systems. He was granted 27 U.S. patents during his 49 year career.Meanwhile he took a wife and reared a family of four children. He came to Louisiana and enrolled in the writing class at the insistence of his daughter. You can read the stories he wrote here.
                </p>
            </div>
        </div>
    </div>
</section>