<section id="intro">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 wow fadeIn" data-wow-delay=".2s">
        <%= image_tag("donsmiles.jpg", alt: "Logo", class: "img-responsive pull-left", id: "donSmiles") %>
        <p class="droid-serif">Ralph 'Don' Jessee (September 13th, 1921 - April 3rd, 2016) was born in the mountains of southwestern Virginia. During the Great Depression his family moved to Kentucky. After two years at Lincoln Memorial University, he earned his engineering degree at University of Kentucky. He was hired by Westinghouse and after a stint in the army he returned to the Aviation Division at Lima, Ohio. He enjoyed his work designing control and protective devices and methods for aircraft electric power systems. He was granted 30 U.S. patents during his 49 year career. Meanwhile he took a wife and reared a family of four children. Late in life he moved to Louisiana to live with his daughter Catherine and her family. He enrolled in a life writing class at Catherine's insistence. Don wrote prodigiously for 10 years in spite of worsening macular degeneration, and has left a surprising legacy of stories, poems and letters. They are archived here for your perusal and enjoyment.
        </p>
      </div>
    </div>
  </div>
</section>
