<section id="intro">
    <div class="container-fluid">
        <h4 class="text-center">Ralph Donald Jessee</h4>
        <hr class="colored">
        <br>
        <div class="row text-center">
            <div class="col-lg-4 wow fadeIn">
                <%= image_tag("donsmiles.jpg", alt: "Logo", class: "img-responsive img-rounded") %>
                
            </div>
            <div class="col-lg-8 wow fadeIn">
            <p>Ralph Donald was born to I.W. “Ike” and Ivo Jessee on September 13, 1921, in Appalachia, Virginia. His grandparents were subsistence farmers, his father was a clerk with the Louisville and Nashville Railroad, and his mother was a schoolteacher. In the third grade his family moved with the Railroad to Pineville, Kentucky, where he played football with, and graduated from, Pineville High School. He attended Lincoln Memorial University, in Harrogate, Tennessee, for two years and then transferred to the University of Kentucky in Lexington. He graduated in 1943 with a B.Sc. in Electrical Engineering.</p>
                </div>
            </div>
        </div>
    </section>