<aside class="cta-quote" style="background-image: url(<%= asset_path 'downtown_lima2.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" data-wow-delay=".1s">
                <span class="quote" id="quote_1">“Things went fairly well for the next several months, except that Ralph Donald’s mind wandered now and then. He would much rather be in the woods with his uncle gathering chestnuts and persimmons or perhaps wading in a creek or riding grandpa’s sweaty horse back from a day ploughing.”</span>
                <hr class="colored" id="pageLine2">
                <span class="quote" id="quote_1_author">From "Bulldog" - R.D. Jessee</span>
            </div>
        </div>
    </div>
</aside>