<aside class="cta-quote" style="background-image: url(<%= asset_path 'blurred.jpg' %>);">
    <div class="container-fluid wow fadeIn">
        <div class="row">
            <div class="col-md-6" data-wow-delay=".6s">
            <span class="quote" id="quote_2">"Looking at old pictures I see things that are sort of familiar or perhaps ought to be. For instance here is one taken in the front or side yard of an old house. I see shades of gray in broad outline except for things that are familiar such as faces and certain shapes. I depend on the vision of others to identify for me other shapes. That’s how I determined that the picture was taken in the yard of an old house."
            </span>
            <hr class="pageLine">
            <span class="quote" id="quote_2_author">From "Old Pictures" - R.D. Jessee</span>
            </div>
        </div>
    </div>
</aside>