<aside class="cta-quote" style="background-image: url(<%= asset_path 'downtown_lima.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" data-wow-delay=".1s">
                <span class="quote" id="quote_1">"Albert St. was in the old, mature part of town. Many of the early residents worked at Lima Locomotive Works close by. Its huge, powerful steam engines pulled both passenger trains and freight cars loaded with coal or other stuff in all parts of the country."</span>
                <hr class="colored" id="pageLine2">
                <span class="quote" id="quote_1_author">From "First Home" - R.D. Jessee</span>
            </div>
        </div>
    </div>
</aside>

