<aside class="cta-quote" style="background-image: url(<%= asset_path 'downtown_lima.jpg' %>);">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" data-wow-delay=".1s">
                <span class="quote" id="quote_1">“You can have more than one home.<br/>You can carry your roots with you,<br/>and decide where they will grow.”</span>
                <hr class="colored" id="pageLine2">
                <span class="quote" id="quote_1_author">Henning Mankell</span>
            </div>
        </div>
    </div>
</aside>