<aside class="cta-quote" style="background-image: url(<%= asset_path 'book.jpg' %>);">
    <div class="container-fluid wow fadeIn">
        <div class="row">
            <div class="col-md-6 col-md-offset-6" data-wow-delay=".1s">
                <span class="quote" id="quote_1">"It was painful to write about things, which had been embarrassing to me at the time they happened. But when I read what I had written, I realized it wasn’t about me, but about a little boy who lived a long time ago.<br><br>Upon hearing my classmates read their stories I realized that their lives might not have been so different from mine. That gave me confidence to write my own stories."</span>
                <hr class="colored" id="pageLine2">
                <span class="quote" id="quote_1_author">From "Write? Me?" - R.D. Jessee</span>
            </div>
        </div>
    </div>
</aside>

