<aside class="cta-quote" id="quote-3-background-image" style="background-image: url(<%= asset_path 'microphone.jpg' %>);">
    <div class="container-fluid wow fadeIn">
        <div class="row">
            <div class="col-md-6" data-wow-delay=".6s">
            <span class="quote" id="quote_3">"If I could speak to the child I would simply encourage him to learn to love to read. The child never learned to read well, so he was a slow reader and reading always took too long. He needed practice reading some really interesting short stories."
            </span>
            <hr class="pageLine">
            <span class="quote" id="quote_3_author">From "Thoughts of Childhood" - R.D. Jessee</span>
            </div>
        </div>
    </div>
</aside>