<section id="show_pictures">

  <div class="container-fluid text-center">

    <h4>Pictures</h4>
    <hr class="pageLine">
    <div>
    <a href=" <%= pictures_path %> " class="btn btn-default btn-lg buttonDropShadow" id="picturesButton" role="button">Full List</a>
    </div>

    <div class="row">
      <% @pictures.each do |picture| %>
        <a href="<%= picture_path(picture.id) %>" class="blog_links">
          <div class="col-lg-4 wow fadeIn">
            <div class="thumbnail box-shadow">
              <% if picture.picture.attached? %>
                <%= image_tag picture.picture, alt: "Picture", class: "img-responsive center-picture" %>
              <% end %>
            <div class="caption text-center">
              <h5><%= picture.caption %></h5>
            </div>
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</section> 