<section id="show_recordings">
  <div class="container text-center wow fadeIn">
    <h4>Recordings</h4>
    <hr class="pageLine" />
    <div>
      <a href="<%= recordings_path %>" class="btn btn-default btn-lg buttonDropShadow" id="recordingsButton" role="button" data-toggle="tooltip" title="Click to see the full list of stories with recorded readings">Full List</a>
    </div>
    <%= render partial: 'recordings/show', locals: {full: false} %>
  </div>
</div>
</section>
