<% provide(:title, 'About') %>
<h1>About RD Jessee's Blog</h1>
<h2>Ralph "Don" Jessee is my grandfather. My name is Andre. I decided to build a website to showcase his
stories.</h2>
<h2>But the real work in collecting these stories and making them accessible was done by my dad, David.</h2>
