<% provide(:title, 'Welcome') %>

<div >
  <h1>My Life, My Stories</h1>

  <img src="https://s3.amazonaws.com/andre-pictures/grandpa.JPG" alt="" class="img-responsive center-block"
  id="grandpa_sits">

</div>

