<% provide(:title, 'Welcome') %>

<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
    <div class="container">
      <!-- <h3 id="lifetime">September 13th 1921 - April 3rd, 2016</h3> -->
    </div>
</section>
<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
    <div class="container">
        Links and Pictures
    </div>
</section>
<!-- Section 3 -->
<section id="about" data-speed="2" data-type="background">
    <div class="container">
        Obit
    </div>
</section>
