<% provide(:title, 'Welcome') %>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="w3-center spacing">
  <button class="w3-btn demo" onclick="currentDiv(1)">1</button>
  <button class="w3-btn demo" onclick="currentDiv(2)">2</button>
  <button class="w3-btn demo" onclick="currentDiv(3)">3</button>
  <button class="w3-btn demo" onclick="currentDiv(4)">4</button>
  <button class="w3-btn demo" onclick="currentDiv(5)">5</button>
  <button class="w3-btn demo" onclick="currentDiv(6)">6</button>
  <button class="w3-btn demo" onclick="currentDiv(7)">7</button>
  <button class="w3-btn demo" onclick="currentDiv(8)">8</button>
  <button class="w3-btn demo" onclick="currentDiv(9)">9</button>
  <div class="w3-section">
    <button class="w3-btn prev" >❮ Prev</button>
    <button class="w3-btn next" >Next ❯</button>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Ralph Donald Jessee, 94, joined our Lord and Savior on April 3, 2016. He was taken down by old age and cancer.</p>
      <p> Ralph Donald was born to I.W. “Ike” and Ivo Jessee on September 13, 1921, in Appalachia, Virginia. His grandparents were subsistence farmers, his father was a clerk with the Louisville and Nashville Railroad, and his mother was a schoolteacher. In the third grade his family moved with the Railroad to Pineville, Kentucky, where he played football with, and graduated from, Pineville High School. He attended Lincoln Memorial University, in Harrogate, Tennessee, for two years and then transferred to the University of Kentucky in Lexington. He graduated in 1943 with a B.Sc. in Electrical Engineering. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/grandpa.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Setting aside a job offer from the Manhattan Project because the recruiters wouldn’t tell him what he would be doing, he accepted a position from Westinghouse Electric Corporation, which took him to the Aero Space Division in Lima, Ohio. However, he was soon drafted into the U.S. Army Signal Corps. Shortly after boot camp he had surgery on his thyroid, was honorably discharged, and returned to his job in Lima. Young Engineer Jessee thrived in his work environment. He enjoyed the camaraderie and the technical challenges and quickly became a top engineer in the critical work of building innovative and reliable electrical systems for the nation’s military aircraft. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/stevedon.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Although he led innovation on a wide variety of projects, one core and persistent foci of his career was improving systems that used converters to make alternating electric current (AC) from direct current (DC) sources by switching the output terminal to the source in a unique way. His job was to develop elegant control schemes to prevent the degradation of the output quality. A tale he wrote after he retired describes the help he received from a master. After several days of trying to understand why a model of one of his elegant control scheme designs was not working as planned, he arrived home with the intention of relaxing and putting the problem out of mind. He sat back and listened to a sublime piano concerto by Mozart and was carried away. When he came back to earth, he found himself at work on the problem, but the tension was gone. He knew what caused the anomaly and modified the design. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/rdjnewspaperarticle.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>During his career, Ralph Donald’s work garnered thirty patents. At least four times he received an award for submitting the most meritorious patent disclosure of the year. Along with colleagues he received the George Westinghouse Signature Award of Excellence. Of all the awards received, he regarded the Engineering Achievement Award the most significant. That award recognized the importance and ingenuity of his invention of a system still call the “Jessee Circuit” that controls the operation of an electric power converter that converted direct current to alternating current for use in airplanes. In its basic form the converter output voltage was subject to distortion by load changes and by variations in switching devices. Ralph Donald’s task was to take into account these corrupting variations and eliminate their influence. The ”Jessee Circuit” did the job. He loved his work, and his very productive career with Westinghouse and its successor firms lasted fifty-three years.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/westinghouseaward.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>A young local lass, a clerk, caught the eye of Ralph Donald after he reported for work in Lima. He married her, Mary Elizabeth Werff, in 1947, initially found very modest housing (which they referred to as a shack) , and soon started a family that quickly grew to four offspring: David Lawrence, Stephen Ross, Catherine Ann, and Susanna Marie. He provided well for, and guided well, his family, supporting their involvement in good schools, Market Street Presbyterian Church, Boy Scouts and Girl Scouts, the wider family, adventurous annual camping vacations, and eventually the colleges of their choice. He and Mary formed a strong team of wonderful parents, he with stern advice and wise counsel and she with a good ear, good advice, and compassion. That loving partnership came to an untimely end when Mary died of cancer in 1973. Ralph Donald stayed actively and lovingly involved with his children and his grandchildren, but the support of Mary was sorely missed.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donmarriage2.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Finding that his college sweetheart, Mardelle Jones, had been divorced, he convinced her to consider marriage. They tied a knot that came untied ten years later. A few years later he found himself in an improbable match with Dorothy Phillips, at the time 60 years old, which turned into a delightful marriage. Dorothy, never having been married, was quick to adopt Ralph Donald’s brood and they in turn were happy to welcome her into the family. She became the de facto communications and reunions director for the family, a role that was much appreciated. Ralph Donald was heartbroken when he lost her to cancer in 2005.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/davedortdonstevecat.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>His macular degeneration worsened and he found it very difficult to live on his own. His daughter Catherine and her husband Ghulam Sarwar invited him to live with them in Lafayette, Louisiana. He found new friends and found a writing teacher/encourager, Kim Graham, with the Life Writing Classes sponsored by the University of Louisiana and Lafayette General Hospital, who encouraged and guided the production of 200 stories based on experience in his life. The collection of these stories portrays in rich detail a rich life. They will be available on the web at RalphDonaldJessee.com.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donwine.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Ralph Donald was preceded in death by his parents; his sister Margaret Givens; his brother James Marion Jessee; his wives Mary Elizabeth Jessee, Mardelle Jessee, and Dorothy Jessee; and his daughter Susanna Jessee Murbach. He is survived by his daughter Catherine Jessee Sarwar; his sons David Lawrence Jessee and Stephen Ross Jessee; his grandchildren Alica Jessee, Benjamin Jessee, Matthew Jessee, Beau Jessee, Shawn Sarwar, Rachel Setliff, Emily Duncan, Andre Jessee, Ursula Jessee; his grandchildren Aidan Jessee, Keegin Jessee, Logan Jessee, Ava Setliffe, Jane Setliffe, Isaac Duncan, and Adalyn Duncan; niece Jayna Strunk; and nephews Richard Givens and Mike Jessee.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/family.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>A memorial service will be held at Grace Presbyterian Church in Lafayette on Saturday, April 23, at 2:00. In lieu of flowers, friends and family might consider a contribution in his name to one of the following organizations:</p>

      <ul>
        <li><a href="http://www.milesperret.org">Miles Perett Cancer Services in Lafayette</a></li>
        <li><a href="http://www.limasymphony.com">Lima Symphony Orchestra</a></li>
        <li><a href="http://www.scouting.org">Boy Scouts of America</a></li>
        <li><a href="http://www.hospiceacadiana.com/">Hospice of Acadiana</a></li>
        <li><a href="http://www.heritage.org">Heritage Foundation</a></li>
      </ul>

      <p> The ashes of Ralph Donald will be interred next his wife Dorothy at Memorial Gardens in Lima, Ohio at a later date.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donsmiles.jpg">
      </div>
  </div>
</div>



<!--   <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/RDJnewspaperarticle.jpg" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/catdonburgerking.jpg" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/catprof.JPG" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/daddon.JPG" style="width:100%">
  </div> -->


<!-- Section 1 -->
<!-- <section id="intro" data-speed="6" data-type="background">

</section> -->
<!-- Section 2 -->
<!-- <section id="home" data-speed="4" data-type="background">
    <div class="container">
        Links and Pictures
    </div>
</section>
Section 3
<section id="about" data-speed="2" data-type="background">
    <div class="container">
        Obit
    </div>
</section>
 -->
