<% provide(:title, 'Welcome') %>

<div >

  <img src="https://s3.amazonaws.com/andre-pictures/grandpa.JPG" alt="" class="img-responsive center-block"
  id="grandpa_sits">

  <h3 id="lifetime">September 13th 1921 - April 3rd, 2016</h3>

</div>

