<% provide(:title, 'Welcome') %>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="w3-center spacing">
  <button class="w3-btn demo" onclick="currentDiv(1)">1</button>
  <button class="w3-btn demo" onclick="currentDiv(2)">2</button>
  <button class="w3-btn demo" onclick="currentDiv(3)">3</button>
  <button class="w3-btn demo" onclick="currentDiv(4)">4</button>
  <button class="w3-btn demo" onclick="currentDiv(5)">5</button>
  <button class="w3-btn demo" onclick="currentDiv(6)">6</button>
  <button class="w3-btn demo" onclick="currentDiv(7)">7</button>
  <button class="w3-btn demo" onclick="currentDiv(8)">8</button>
  <button class="w3-btn demo" onclick="currentDiv(9)">9</button>
  <button class="w3-btn demo" onclick="currentDiv(10)">10</button>
  <button class="w3-btn demo" onclick="currentDiv(11)">11</button>

  <div class="w3-section">
    <button class="w3-btn prev" >❮ Prev</button>
    <button class="w3-btn next" >Next ❯</button>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Ralph Donald Jessee, 94, joined our Lord and Savior on April 3, 2016. He was taken down by old age and cancer.</p>
      <p> Ralph Donald was born to I.W. “Ike” and Ivo Jessee on September 13, 1921, in Appalachia, Virginia. His grandparents were subsistence farmers, his father was a clerk with the Louisville and Nashville Railroad, and his mother was a schoolteacher. In the third grade his family moved with the Railroad to Pineville, Kentucky, where he played football with, and graduated from, Pineville High School. He attended Lincoln Memorial University, in Harrogate, Tennessee, for two years and then transferred to the University of Kentucky in Lexington. He graduated in 1943 with a B.Sc. in Electrical Engineering. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/grandpa.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Setting aside a job offer from the Manhattan Project because the recruiters wouldn’t tell him what he would be doing, he accepted a position from Westinghouse Electric Corporation, which took him to the Aero Space Division in Lima, Ohio. However, he was soon drafted into the U.S. Army Signal Corps. Shortly after boot camp he had surgery on his thyroid, was honorably discharged, and returned to his job in Lima. Young Engineer Jessee thrived in his work environment. He enjoyed the camaraderie and the technical challenges and quickly became a top engineer in the critical work of building innovative and reliable electrical systems for the nation’s military aircraft. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/stevedon.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Although he led innovation on a wide variety of projects, one core and persistent foci of his career was improving systems that used converters to make alternating electric current (AC) from direct current (DC) sources by switching the output terminal to the source in a unique way. His job was to develop elegant control schemes to prevent the degradation of the output quality. A tale he wrote after he retired describes the help he received from a master. After several days of trying to understand why a model of one of his elegant control scheme designs was not working as planned, he arrived home with the intention of relaxing and putting the problem out of mind. He sat back and listened to a sublime piano concerto by Mozart and was carried away. When he came back to earth, he found himself at work on the problem, but the tension was gone. He knew what caused the anomaly and modified the design. </p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/rdjnewspaperarticle.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>During his career, Ralph Donald’s work garnered thirty patents. At least four times he received an award for submitting the most meritorious patent disclosure of the year. Along with colleagues he received the George Westinghouse Signature Award of Excellence. Of all the awards received, he regarded the Engineering Achievement Award the most significant. That award recognized the importance and ingenuity of his invention of a system still call the “Jessee Circuit” that controls the operation of an electric power converter that converted direct current to alternating current for use in airplanes. In its basic form the converter output voltage was subject to distortion by load changes and by variations in switching devices. Ralph Donald’s task was to take into account these corrupting variations and eliminate their influence. The ”Jessee Circuit” did the job. He loved his work, and his very productive career with Westinghouse and its successor firms lasted fifty-three years.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/westinghouseaward.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>A young local lass, a clerk, caught the eye of Ralph Donald after he reported for work in Lima. He married her, Mary Elizabeth Werff, in 1947, initially found very modest housing (which they referred to as a shack) , and soon started a family that quickly grew to four offspring: David Lawrence, Stephen Ross, Catherine Ann, and Susanna Marie. He provided well for, and guided well, his family, supporting their involvement in good schools, Market Street Presbyterian Church, Boy Scouts and Girl Scouts, the wider family, adventurous annual camping vacations, and eventually the colleges of their choice. He and Mary formed a strong team of wonderful parents, he with stern advice and wise counsel and she with a good ear, good advice, and compassion. That loving partnership came to an untimely end when Mary died of cancer in 1973. Ralph Donald stayed actively and lovingly involved with his children and his grandchildren, but the support of Mary was sorely missed.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donmarriage2.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Finding that his college sweetheart, Mardelle Jones, had been divorced, he convinced her to consider marriage. They tied a knot that came untied ten years later. A few years later he found himself in an improbable match with Dorothy Phillips, at the time 60 years old, which turned into a delightful marriage. Dorothy, never having been married, was quick to adopt Ralph Donald’s brood and they in turn were happy to welcome her into the family. She became the de facto communications and reunions director for the family, a role that was much appreciated. Ralph Donald was heartbroken when he lost her to cancer in 2005.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/davedortdonstevecat.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>His macular degeneration worsened and he found it very difficult to live on his own. His daughter Catherine and her husband Ghulam Sarwar invited him to live with them in Lafayette, Louisiana. He found new friends and found a writing teacher/encourager, Kim Graham, with the Life Writing Classes sponsored by the University of Louisiana and Lafayette General Hospital, who encouraged and guided the production of 200 stories based on experience in his life. The collection of these stories portrays in rich detail a rich life. They will be available on the web at RalphDonaldJessee.com.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donwine.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>Ralph Donald was preceded in death by his parents; his sister Margaret Givens; his brother James Marion Jessee; his wives Mary Elizabeth Jessee, Mardelle Jessee, and Dorothy Jessee; and his daughter Susanna Jessee Murbach. He is survived by his daughter Catherine Jessee Sarwar; his sons David Lawrence Jessee and Stephen Ross Jessee; his grandchildren Alica Jessee, Benjamin Jessee, Matthew Jessee, Beau Jessee, Shawn Sarwar, Rachel Setliff, Emily Duncan, Andre Jessee, Ursula Jessee; his grandchildren Aidan Jessee, Keegin Jessee, Logan Jessee, Ava Setliffe, Jane Setliffe, Isaac Duncan, and Adalyn Duncan; niece Jayna Strunk; and nephews Richard Givens and Mike Jessee.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/family.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-xs-6">
      <p>A memorial service will be held at Grace Presbyterian Church in Lafayette on Saturday, April 23, at 2:00. In lieu of flowers, friends and family might consider a contribution in his name to one of the following organizations:</p>

      <ul>
        <li><a href="http://www.milesperret.org">Miles Perett Cancer Services in Lafayette</a></li>
        <li><a href="http://www.limasymphony.com">Lima Symphony Orchestra</a></li>
        <li><a href="http://www.scouting.org">Boy Scouts of America</a></li>
        <li><a href="http://www.hospiceacadiana.com/">Hospice of Acadiana</a></li>
        <li><a href="http://www.heritage.org">Heritage Foundation</a></li>
      </ul>

      <p> The ashes of Ralph Donald will be interred next his wife Dorothy at Memorial Gardens in Lima, Ohio at a later date.</p>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive center-block"  src="https://s3.amazonaws.com/andre-pictures/donsmiles.jpg">
      </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-md-12 rdj_font">
      <h1>Reunion Vacation 1988 </h1>
      <p>The June night was clear with a bright starry sky above. We sat around a little campfire that was not for the heat but for the effect. We always thought a campout was incomplete without a fire to gaze into. It had been a daunting, sometimes frustrating task to get the assembled family together; for every date I suggested someone objected. Eventually we found a time we could agree on, and here we were sitting around a campfire as happy as could be. Some even wanted to sing songs and they did. Now and then the sound of something scampering about outside our circle aroused the attention of someone who ventured out to investigate. Each time it happened the same report came back. It was only a skunk or two scouring the campground for scraps of food that some camper may have dropped. Before long the little fire ebbed, yawns traveled around the circle and it was off to our tents and to bed.</p>
      <p>Our camp was in Cades Cove, a part of the Great Smokey Mountains National Park. Cades Cove is an area of not quite flat land, surrounded by mountain ridges. The cove was once a community of farms having a loop road around the perimeter of the farms with houses located at appropriate intervals along the road. The houses are well maintained and the farmlands are tilled as if they were still real farms.</p>
      <p>Family members frequently left the camp to explore some of the many features of the park. One day the whole group, on a scenic drive, located a short loop trail designated as a nature trail and decided that a short loop would be just right. From a small parking lot the trail rose into the woods above and disappeared around a bend. The whole gang took to the trail in single file to view the wonders of nature the trail might offer. The usual trailside woodland sights were abundant but not outstanding for one used to such trails. Bye-and-bye a cracking sound came from our left, and looking up the hill about thirty yards we all saw a big black bear. He was busy ripping apart a decaying stump of a long ago felled tree. We all stopped to watch him do his work, but the bear took no notice of us. By the time we left, the stump was demolished and the bear was busily slurping up the grubs he had uncovered. We hesitated in the parking lot at the end of our short hike to reorient ourselves. Presently one of the kids yelled out and pointed towards Dorothy who noticed a sniffing sound behind her. She turned to see a big black bear close behind her. I don’t think she wet her pants, but I think she came close to it. The bear, seeing no ready food, moved on. Once Dorothy’s nerves settled we continued our motor tour and returned to camp where Dick took over the task of rustling up a good supper for the whole gang. Dick is a take-charge guy who loves to cook and keep everything organized. We were all grateful for that.</p>
      <p>The next morning we decided to hike up to one of the many waterfalls. We left after breakfast without Dorothy who preferred to remain in camp. Was it the hike or the bears? As with nearly all falls hikes its all uphill one way and all downhill the other, but a beautiful sight to behold in the middle of the trip. A mountain stream stretching uneasily in its bed and seeking a resting place, suddenly finds itself being torn apart, accelerating wildly over rocks and falling into a pool of turbulent water, but finding no peace here moves on still searching for a place to rest.</p>
      <p>Meanwhile, back at the camp Dorothy sat peacefully in her resting place reading her book. Unnoticed by her, a bear came out of the woods and sauntered toward our campsite, no doubt attracted by a large metal food cooler sitting atop the camp table. He wasted no time in attacking the cooler. The noise of the bear’s teeth biting at the corner of the cooler alerted Dorothy that she was no longer alone. Just a glance started her hightailing it for the restrooms and locking the door behind her. The bear bit and pawed at the cooler until he finally became frustrated at his lack of progress, gave up and departed leaving not only his tooth marks but also a tooth imbedded in the cooler. Dorothy didn’t reveal how long she occupied the restroom but the bear was long gone before she ventured out. I don’t believe she enjoyed the book any more that day, but she did inform a couple of passersby who were looking for bears that there really were bears around.  The hikers returned at about the same time that the park ranger arrived on his rounds. The ranger inquired of who was responsible for the cooler and upon finding out it was Dick gave him a royal chewing out, reminding him that all food was to be stored inside the car. Fortunately the food was left intact and we ate supper again that day.</p>
      <p>The next day I made a wrong movement dislocating a vertebra in my lower back. I was out of commission but Susanna took pity on me and helped me into a car and headed off to find a chiropractor in Maryville. I don’t know what happened in camp that day but they were still doing what tourist campers do. By the next day I was still laid up and we made a second trip to the doctor. I was still sore but at least I could get up and walk a little. When we returned my sister Margaret and niece Jana were in camp to visit the gang. They had come from Oak Ridge to see us. I guess I was sorry company for them but we were glad to see one another and had a nice visit.</p>
      <p>After we broke camp the next day and loaded our gear into our cars, nobody was in a hurry to leave. There was a lot of hugging and maybe a tear or two shed before we finally said our farewells. We’d had a great time, not because of what we had seen or done, but because of the rare pleasure of being together again.</p>
      <p class="text-center">Attended by Don, Dorothy, David, Stephen, Catherine, Susanna, Dick, Katyna, Andre, Ursula, Shawn, Rachel, and Emily</p>
      <p>RDJ 2007</p>
    </div>
  </div>
</div>

<div class="container mySlides">
  <div class="row">
    <div class="col-md-12">
      <h1>The best ear-wiggler...here.</h1>
      <iframe class="center-block" width="600" height="400" src="https://www.youtube.com/embed/RXU51UVuaiU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>



<!--   <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/RDJnewspaperarticle.jpg" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/catdonburgerking.jpg" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/catprof.JPG" style="width:100%">
  </div>

  <div class='crop col-xs-12 col-sm-6 col-md-6'>
    <img class="size col-xs-12 col-sm-6 col-md-6" src="https://s3.amazonaws.com/andre-pictures/daddon.JPG" style="width:100%">
  </div> -->


<!-- Section 1 -->
<!-- <section id="intro" data-speed="6" data-type="background">

</section> -->
<!-- Section 2 -->
<!-- <section id="home" data-speed="4" data-type="background">
    <div class="container">
        Links and Pictures
    </div>
</section>
Section 3
<section id="about" data-speed="2" data-type="background">
    <div class="container">
        Obit
    </div>
</section>
 -->
