<section id="blog">
  <div class="container-fluid">
    <!-- Flash Section -->
    <% if !flash.empty? %>
    <%= render 'shared/flash2' %>
    <% end %>
    <div class="text-center">
      <% if logged_in? && current_user.admin? %>
      <a href=" <%= edit_story_path(@story.id) %> " class="btn btn-success" role="button">Edit Blog</a>
      <% end %>
    </div>

    <div class="row">
      <div class="col-lg-12 wow fadeIn">
        <div class="text-center">
          <h4><%= @story.title.html_safe %></h4>
        </div>
        <hr class="colored">
        <h6><%= @story.content.html_safe %>
        </h6>
      </div>
    </div>
  </div>
</section> 