<div class="tags-cloud">
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4 css5 css6} do |tag, css_class| %>
    <%= link_to tag.name, "/stories/sort?sort=tag&tag=#{tag.name}", class: css_class %>
  <% end %>
</div>
