@import 'bootstrap';

$pantoneOrange: #FF6C2F;
$pantoneCoolGrey: #53565A;
$brightYellow: #FFCE00;

/* Shared */

.pageLine {
  border-top: 3px solid #eeeeee;
  max-width: 50%;
  margin: 3% auto;
  border-color: lightgrey;
}

.buttonDropShadow {
  box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
}


/* Blog */

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blog_links, .blog_links:hover, .blog_links:active, .blog_links:visited, .blog_links:focus {
  text-decoration: none;
}

.box-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.border-1px {
  border: 1px solid black;
}

.bg-lightGrey { 
  background-color: lightgrey;
}

.black {
  color: black;
}

.panel-footer {
  background-color: darkgrey;
}




h3.MajestiBannerBook {
  font-family: MajestiBannerBook;
  font-size: 4em;
  letter-spacing: .5px;
  margin-bottom: 15px;
  text-transform: none;
}

h3.MajestiBannerBookPartial {
  font-family: MajestiBannerBook;
  font-size: 2em;
  letter-spacing: .5px;
  margin-bottom: 15px;
  text-transform: none;
}

div.MajestiBannerBookPara {
  font-family: MajestiBannerBook;
  font-size: 2em;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

div.MajestiBannerBookParaPartial {
  font-family: MajestiBannerBook;
  font-size: 1em;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

hr#blogLine1 {
  border-top: 3px solid #eeeeee;
  max-width: 50%;
  margin: 30px auto;
  border-color: lightgrey;
}

/* Tag cloud */
.tags-cloud {
  margin-top: 2%
}

/* Comments on Stories */
.new_comment {
  margin-top: 4%
}

/* Forms */

input.form-control:focus {
  border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
}

.pagination > li > a, {
  color: black;
}

.pagination > ul {
  font-family: sans-serif;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: darkgrey;
}

.alert-info {
    font-family: MajestiBannerMedium;
  font-size: 1em;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

textarea {
  font-family: MajestiBannerBook;
  font-size: 1.5em;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

.panel-title, .panel-body {
  font-family: MajestiBannerBook;
  font-size: 1.5em;
  letter-spacing: .5px;
}

trix-editor {
  font-family: MajestiBannerBook;
  font-size: 1.5em !important;
  letter-spacing: .5px;
}


.make-big {
  height: 300px;
  overflow: auto;
}

.bottom-margin-30px {
  margin-bottom: 30px;
}

.bottom_padding_20px {
  padding-bottom: 20px;
}

.alert-danger, .alert-success {
    background-color: lightblue;
    border-color: black;
    color: black;
    font-size: 2em;
    text-align: center;
}

.top-margin-15-percent {
  margin-top: 15%;
}

.top-margin-5-percent {
  margin-top: 5%;
}

.top-margin-1-percent {
  margin-top: 1%;
}

.center-picture {
  margin: 0 auto;
}



.yellow_background {
  background-color: yellow;
}



/* General Styling */

h1 {
  font-family: MajestiBannerBold;
  font-size: 4em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: none;
}

h2 {
  font-family: MajestiBannerHeavy;
  font-size: 3em;
  letter-spacing: .5px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: none;
}

h3 {
  font-family: MajestiBannerBook;
  font-size: 3em;
  letter-spacing: .5px;
  margin-bottom: 15px;
  text-transform: none;
}

h4 {
  font-family: MajestiBannerBook;
  font-size: 6em;
  margin-bottom: 20px;
  text-transform: none;
}

h5 {
  font-family: NexaLight;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: none;
}

h6 {
  font-family: MajestiBannerMedium;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: none;
}

p {
  font-family: MajestiBannerLight;
  font-size: 22px;
}

p.majesti-book {
  font-family: MajestiBannerBook;
  font-size: 2em;
  letter-spacing: -0.7px;
  margin-bottom: 5px;
  text-transform: none;
  text-align: center;
}

p.nexa-bold {
  font-family: NexaBold;
  font-size: 2em;
  letter-spacing: -0.7px;
  margin-bottom: 10px;
  text-transform: none;
  text-align: left;
}

p.nexa-light-center {
  font-family: NexaLight;
  font-size: 2em;
  letter-spacing: -0.7px;
  margin-bottom: 10px;
  text-transform: none;
  text-align: center;
}


.nexa-light {
  font-family: NexaLight;
  font-size: 1em;
  letter-spacing: -0.7px;
  text-transform: none;
  text-align: left;
}

p.bigger {
  font-size: 2em;
}

p.smaller {
  font-size: 1.4em;
  text-align: center;
}

p.center {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.shadow {
  -webkit-filter: drop-shadow( 2px 2px 3px white );
  filter: drop-shadow( 2px 2px 3px white ); /* Same syntax as box-shadow */
}

.shadow2 {
  -webkit-filter: drop-shadow(-4px 3px 4px #000);
  filter: drop-shadow(-4px 3px 4px #000); /* Same syntax as box-shadow */
}


#user_login {
  height: 100vh;
}

#admin {
  height: 100vh;
}

#flash {
  margin: 5% 5% 0% 5%;
  text-align: center;
}

#footerLogo {
  height: 75px;
}

footer.footer {
  padding: 25px 0 20px;
}

.top-space-5-percent{
  margin-top: 5%;
}

hr.colored {
  border-color: $pantoneOrange;
}

.details {
  font-size: 35px; 
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.white_text {
  color: white;
}

.orange {
  color: $pantoneOrange;
}

.portfolio-carousel {
  padding: 0;
  color: black;
  background-color: white;
}

.modal-content {
  background-color: lightgray;
}

.modal-header {
  font-family: NexaBold;
  font-size: 1em;
  text-align: center;
  color: black;
}

.modal-body {
  font-family: NexaLight;
  font-size: .5em;
  color: black;
}

.closeModal {
  color: black;
}

.center-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonials .testimonials-carousel .owl-controls .owl-prev {
  left: -25px;
}

.testimonials .testimonials-carousel .owl-controls .owl-next {
  right: -25px;
}


/* Navbar Styling */

.navbar-inverse {
  background-color: black;
  border-color: black;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: NexaBold;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
  font-family: NexaBold;
  font-size: 20px;
  color: darkgrey;
  font-weight: bold;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
}

/* forms */

.input-group-lg > .input-group-btn > .btn {
  font-family: MajestiBannerHeavy;
  text-transform: none;
}

.input-group .form-control {
  font-family: NexaBold;
}

textarea.form-control {
  color: $pantoneOrange;
}

.floating-label-form-group-with-value label {
  text-align: left;
}

.floating-label-form-group input {
  font-family: NexaLight;
  color: darkgrey;
  text-align: left;
}

.floating-label-form-group-with-value label {
  color: darkgrey;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
  background-color: $pantoneOrange !important;
  color: white !important;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev,
.testimonials .testimonials-carousel .owl-controls .owl-next {
  background-color: gray !important;
}

.btn-outline-dark {
  font-family: NexaBold;
  color: black;
  font-size: 1.5em;
  text-transform: none;
  background: $pantoneOrange;
  border-color: $pantoneOrange;
  outline: none;
  border-radius: 20px !important;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: $pantoneCoolGrey;
}

.input-group-lg > .input-group-btn > .btn {
  background-color: $pantoneOrange;
  border-color: $pantoneOrange;
}


#error_explanation {
  color: $pantoneCoolGrey;
  ul {
    font-size: 1.5em;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    background-color: $pantoneCoolGrey;
  }
}





