// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Intro Page */

/* General */

.droid-serif {
  font-family: 'Droid Serif', serif;
  font-size: 1.7em;
  letter-spacing: 0px;
  margin-bottom: 5px;
  text-transform: none;
  text-align: left;
}

#donSmiles {
  border: 8px solid black;
  margin-right: 2%;
}

/* Mobile */
@media (max-width: 767px) {

  .droid-serif {
      font-size: 1.5em;
      text-align: center;
  }

  #donSmiles {
    margin: 5% 0 5% 0;
  }

  #flash {
    margin-top: 1em;
  }

}
