  /* Sign up and Log in Pages */

  /* General */

  /* Desktop */
  @media (min-width: 768px) {}

  /* Mobile */
  @media (max-width: 767px) {

    section#user_login, section#new_user {
      padding-top: 3em;
    }

    section.user_info {
      padding-top: 5em;
    }

    section#forgot_password {
      padding-top: 4em;
    }

  }  
