// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#picturesButton {
  font-family: MajestiBannerMedium;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: none;
}


/* Desktop */
@media (min-width: 768px) {}

/* Mobile */
@media (max-width: 767px) {

  h4 {
  font-size: 3em;
  margin-top: 5%;
  }

  #picturesButton {
    font-size: 1.5em;
    margin: 2% 0 5% 0;
  }

  section#show_picture {
    margin-top: 15%
  }

}