// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Stories */

/* General */

#storiesButton {
  font-family: MajestiBannerMedium;
  font-size: 2em;
  letter-spacing: 1px;
  margin: 5% 0 5% 0;
  text-transform: none;
}

mark {
  background-color: lightyellow;
}

/* Desktop */
@media (min-width: 768px) {}

/* Mobile */
@media (max-width: 767px) {

  h4 {
  font-size: 3em;
  margin-top: 5%;
  }

  div.panel-heading {
    font-size: .7em;
  }

  #storiesButton {
    font-size: 1.5em;
    margin: 2% 0 5% 0;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 4px 9px;
  }

  .btn-group, .btn-group-vertical {
    display: grid;
  }

  .pagination > ul {
    box-shadow: none;
  }

  .comment-area {
    height: 6em;
    width: 17em;
  }

  #blog {
    padding-top: 3em;
  }

  #blog_full, #blog_edit, #blog_new {
    padding-top: 5em;
  }

  #updateStoryButton {
    margin-top: 1em;
  }

  h3.MajestiBannerBookPartial {
    font-size: 1.5em;
  }

  div.MajestiBannerBookParaPartial {
    font-size: 1em;
  }

}